
//COLORS
$bgColor: #f0f0f0;

$mainColor: #ffd800;
$sideColorA: #d80000;
$sideColorB: #00880b;

$textColor: #3c3c3c;
$textColorLight: lighten($textColor, 65%);

$borderColor: $textColor;
$boxColor: lighten($borderColor, 25%);

//SIZE
$maxTabletWidth: 992px;


//Tipography

 $fontFamily:  'Ubuntu', Helvetica, Arial, sans-serif;
$code-color: #3c3c3c;
$code-bg: #FFF09B;