@import 'variables';



body, html {
    height: 100%;
    font-family:$fontFamily;
    background-color:$bgColor;
}

.name {
    font-size: 2em;
}

.visible-xs img {
    margin:0 20px;
}

.box {
    -webkit-transition: all .2s ease;
    color: $textColorLight;
}

.big {
    padding: 20px;
    background-color:$mainColor;
    color: $textColor;
    border-top: solid 10px $borderColor;
}

.article {
    background-color: white;
    color: $textColor;
    padding: 20px;
}

img {
    border-radius:100%;
//    border: solid 3px lighten($mainColor, 80%);
}

.links {
    margin-top:25px;
}

.links a, .links  a:hover {
    text-decoration:none;
}            

.links .box {
    /*    color: #dedede;*/
    height: 113px;
    text-align:center;
    line-height: 113px;
    font-size: 4em;
    margin-bottom: 10px;
    border-bottom: solid 10px $borderColor;
    background-color:$boxColor;
}

#stream {
    margin-bottom: 0;
}

#blog:hover, a:focus #blog {
    border-bottom: solid 10px $mainColor;
}        

#code:hover, a:focus #code {
    border-bottom: solid 10px $sideColorA;
}

#stream:hover, a:focus #stream {
    border-bottom: solid 10px $sideColorB;
}

.links a:focus {
    outline:0;
}

.links .box:hover, .links .box:focus, .links a:focus .box {
    cursor:pointer;
    background-color:$borderColor;    
    outline: 0;
}

@media (min-width: $maxTabletWidth) {
    .name {
        font-size: 5em;
        text-align:ce
    }
    .article {
        font-size:1.8em;
    }
    .nick {
        font-size: 1.6em;
    }
    .container {
        position: relative;
        top:50%;
        height: 524px;
        margin-top:-267px;
    }
    .links .box {
        height: 213px;
        line-height: 213px;
    }
}