--- 
layout: default
title: Articles on javascript, open source and stuff
---
<div class="container list" >
    <ul class="list-unstyled row">
        {% for post in site.posts %}
<!--        <a href="{{ post.url }}">-->
            <li class="col-md-4 col-lg-3">
                <div class="box">
                    <div>
                        <div class="title">{{ post.title }} <time> {{post.date | date_to_string }}</time></div>
                         {% if post.img %}
                        <img src="/img/{{ post.img }}" />
                        {% endif %}
                        <div class="excerpt"><p>{{ post.excerpt }}</div>
                    </div>
                </div>
                <a href="{{post.url}}">
                    <footer>
                        Read the full article <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    </footer>
                </a>
            </li>
<!--        </a>-->
        {% endfor %}
        </ul>
</div>