<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta property="og:description" 
  content="{{page.excerpt | strip_html }}" />
         {% if page.img %}
        <meta property="og:image" content="http://{{site.url}}/img/{{page.img}}" />
        {% endif %}
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAASElEQVQ4T2O0sbH5z0ABYBx4A/7fYKDMCzQxwDbFBmuwHp5zBEOcEd0FuDTDdKIbgtMAdIUwg4eQAbgSJ9FeoNiAIRyIpOZsAHXmWghLeTzQAAAAAElFTkSuQmCC" type="image/x-icon" />
        
        <!-- RDFa for Search Engine Optimization -->
        <link rel="author" href="https://plus.google.com/117495923729339939592/">
        <link rel="publisher" href="https://plus.google.com/117495923729339939592/">
        <!-- Optional theme -->
        <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />-->
        <link href="/css/fontello.css" rel="stylesheet" />
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <title>{{page.title}}</title>
    </head>
    
    <body>
        <div class="container" itemscope itemtype="http://schema.org/Article">
            <header class="row">
                <div class=" col-xs-12">
                    <div class="big">
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <h1>
                                <a href="/blog">
                                    <span itemprop="name">Alessandro Artoni</span>
                                    <meta itemprop="url" content="http://artoale.com" />
                                    <span itemprop="additionalName" class="nick">@artoale</span>
                                </a>
                            </h1>
                            <img itemprop="image" height="70px" class="hidden-xs pull-right" src="/img/me_70.png" />
                        </span>
                    </div>
                    <div class="subtitle">Articles on javascript, open source and stuff</div>
                </div>
            </header>
            <div>{{ content }}</div>
        </div>
        <script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
    </body>

</html>